@import "../common/variables";

.airline-login-modal-heading {
  margin: 0 25px;
  padding: 15px 0;
  text-align: center;
  border-bottom: solid 1px #ddd;
  font: $font-paragraph-16;
}

.airline-login-modal-box {
  padding: 48px;
  max-height: 560px;
  overflow-y: auto;

  &-heading {
    font: $font-heading-24;
    padding: 0;
    margin: 0;
  }

}